{
  "rabbitmq":{
    "host":"{{ .Env.RABBITMQ_HOST }}",
    "port": {{ .Env.RABBITMQ_PORT }}
  },
  "redis":{
    "host":"{{ .Env.REDIS_HOST }}",
    "port":{{ .Env.REDIS_PORT }}
  },
  "api":{
    "host":"sensu-api",
    "port":4567,
    "bind": "0.0.0.0",
    "user":"{{ .Env.SENSU_API_USER }}",
    "password":"{{ .Env.SENSU_API_PASS }}"
  }
}
