{
  "api": {
    "host":"{{ .Env.SENSU_API_HOST }}",
    "port":{{ .Env.SENSU_API_PORT }},
    "user":"{{ .Env.SENSU_API_USER }}",
    "password":"{{ .Env.SENSU_API_PASS }}"
  },
  "rabbitmq":{
    "host":"{{ .Env.RABBITMQ_HOST }}",
    "port":{{ .Env.RABBITMQ_PORT }}
  },
  "redis":{
    "host":"{{ .Env.REDIS_HOST }}",
    "port":{{ .Env.REDIS_PORT }}
  },
  "handlers":{
    "default":{
      "type":"set",
      "handlers":[
        "stdout",
        "slack",
        "mailer-mailgun"
      ]
    },
    "stdout":{
      "type":"pipe",
      "command":"cat"
    }
  }
}
