{
  "client":{
    "name":"{{ .Env.SENSU_CLIENT_NAME }}",
    "address":"{{ .Env.SENSU_CLIENT_ADR }}",
    "subscriptions":[
      {{ default .Env.SENSU_CLIENT_SUBSCRIPTIONS "all"}}
    ]
  },
  "rabbitmq":{
    "host":"{{ .Env.RABBITMQ_HOST }}",
    "port":{{ .Env.RABBITMQ_PORT }}
  }
}
