{
  "sensu": [
    {
      "name": "{{ .Env.SENSU_DC_NAME }}",
      "host": "{{ .Env.SENSU_API_HOST }}",
      "port": {{ .Env.SENSU_API_PORT }},
      "user": "{{ .Env.SENSU_API_USER }}",
      "pass": "{{ .Env.SENSU_API_PASS }}"
    }
  ],
  "uchiwa": {
    "host": "{{ default .Env.UCHIWA_HOST "0.0.0.0" }}",
    "port": {{ default .Env.UCHIWA_PORT "3000" }},
    "refresh": {{ default .Env.UCHIWA_REFRESH "5" }},
    "user": "{{ .Env.UCHIWA_HTTP_USER }}",
    "pass": "{{ .Env.UCHIWA_HTTP_PASS }}",
    "loglevel": "info"
  }
}
